/* Header */
header {
    
    padding: 10px 20px;
    position: absolute; /* Posiciona no topo da página */
    top: 0;
    left: 0;
    width: auto; /* Faz com que o header ocupe toda a largura */
}

.header-container {
    display: flex; /* Alinha os botões horizontalmente */
    justify-content: flex-start; /* Alinha os botões à esquerda */
    gap: 7px; /* Espaçamento entre os botões */
    margin-left: auto; /* Distância da borda esquerda */
}

.header-btn {
    background-color: #28a745; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.header-btn:hover {
    background-color: #1a7c31; /* Cor ao passar o mouse */
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.header-btn:active {
    background-color: #146d29; /* Cor ao clicar */

}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
h1 {
    text-align: center;
    color: #333;
}
input {
    width: 94.4%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.resultado {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    min-width: none;
    min-height: none;
    max-width: 600px;
    max-height: 480px;
    width: auto;
    height: auto;
    text-align: center;
    line-height: 1.5;
    display: flex;
    margin-top: 2.5vh;
    
}


.warning strong {
    font-weight: bold;
}
